body{
    margin:0;
    padding:0;
    color:black;
    font-family: Verdana, Tahoma, sans-serif;
}

#header{
    text-align: center;
    width: 100%;
    padding:1% 0;
    background-color: #8e44ad;
}

#first-box{
    border:1px solid red;
    height: 350px;
    width:600px;
    margin: 2% auto;
}
h3{
    text-align: center;
}

.project{
    width:90%;
    border:1px solid red;
    height:120px;
    margin:2%;
}
.backdrop{
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: ; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.backdrop.visible{
    display:block;
}

.backdropBox{
    position: absolute;
    border-radius:25px;
    background-color: blue;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 5px 5px 45px 6px rgba(0,0,0,0.33);
    -moz-box-shadow: 5px 5px 45px 6px rgba(0,0,0,0.33);
    box-shadow: 5px 5px 45px 6px rgba(0,0,0,0.33);
    padding:1%;
    margin-top: 15%;
    display:none;
    z-index:10;
   
}
.backdropBox.visible{
    display:block;
}